.Fondo {
    width: 1380px;
    height: 2063px;
    left: 0px;
    top: 8px;
    position: absolute;
}

/*Aquí Empieza el contenido del About*/

.After {
    width: 675px;
    height: 406px;
    left: 611px;
    top: 158px;
    position: absolute;
    text-align: justify;
    color: black;
    font-size: 27px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.AbautTheTeam {
    left: 548px;
    top: 80px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.OurFounders {
    left: 565px;
    top: 642px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.Timebi {
    left: 446px;
    top: 1348px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

/*Imagen*/
.Polaroid_demaria {
    width: 371px;
    height: 465px;
    left: 176px;
    top: 135px;
    position: absolute;
}

/*Escritura */
.Ceo {
    left: 321px;
    top: 546px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.Behind {
    left: 200px;
    top: 710px;
    position: absolute;
    text-align: justify;
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

  /* Managers Imagenes */
.Josh {
    width: 243px;
    height: 445px;
    left: 81px;
    top: 781px;
    position: absolute;
}

.Jair {
    width: 258px;
    height: 445px;
    left: 393px;
    top: 781px;
    position: absolute;
}

.Danna {
    width: 271px;
    height: 445px;
    left: 721px;
    top: 781px;
    position: absolute;
}

.Arelis {
    width: 259px;
    height: 445px;
    left: 1061px;
    top: 781px;
    position: absolute;
}

/* Managers ESCRITURA */

.Advertising1 {
    width: 152px;
    height: 62px;
    left: 127px;
    top: 1256px;
    position: absolute;
    text-align: justify;
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.Programing {
    width: 152px;
    height: 62px;
    left: 446px;
    top: 1256px;
    position: absolute;
    text-align: justify;
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.Presentation {
    width: 159px;
    height: 62px;
    left: 777px;
    top: 1256px;
    position: absolute;
    text-align: justify;
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.Advertising2 {
    width: 152px;
    height: 62px;
    left: 1115px;
    top: 1256px;
    position: absolute;
    text-align: justify;
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}


/* Color de rectangulos */
.Rectangle11 {
    width: 610px;
    height: 264px;
    left: 62px;
    top: 1440px;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Rectangle12 {
    width: 609px;
    height: 264px;
    left: 721px;
    top: 1440px;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Rectangle13 {
    width: 610px;
    height: 264px;
    left: 63px;
    top: 1732px;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Rectangle14 {
    width: 610px;
    height: 264px;
    left: 721px;
    top: 1732px;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Información de los rectángulos */
.Digital {
    left: 90px;
    top: 1468px;
    position: absolute;
    text-align: justify;
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.Online {
    left: 745px;
    top: 1460px;
    position: absolute;
    text-align: justify;
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.TimeOffline {
    width: 147px;
    height: 21px;
    left: 745px;
    top: 1760px;
    position: absolute;
    text-align: justify;
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.Authentic {
    width: 266px;
    height: 21px;
    left: 91px;
    top: 1757px;
    position: absolute;
    text-align: justify;
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.People {
    left: 92px;
    top: 1528px;
    position: absolute;
    text-align: justify;
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.HeAdvocates {
    left: 94px;
    top: 1816px;
    position: absolute;
    text-align: justify;
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.ItPromotes {
    left: 750px;
    top: 1816px;
    position: absolute;
    text-align: justify;
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

.HeSuggests {
    left: 750px;
    top: 1528px;
    position: absolute;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}

/*Aquí Empieza el Footer*/

.Footer {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
  }
  
  .Rectangulodefooter {
    width: 1380px;
    height: 200px;
    left: px;
    top: 2020px;
    position: absolute;
    background: #1B1B1B;
  }
  
  .Youtubelogo1 {
    width: 50px;
    height: 50px;
    left: 745px;
    top: 2050px;
    position: absolute;
  }
  
  .Twitterlogo1 {
    width: 50px;
    height: 50px;
    left: 668px;
    top: 2050px;
    position: absolute;
  }
  
  .Pinterestlogo1 {
    width: 50px;
    height: 50px;
    left: 514px;
    top: 2050px;
    position: absolute;
  }
  
  .Facebooklogo1 {
    width: 50px;
    height: 50px;
    left: 591px;
    top: 2050px;
    position: absolute;
  }
  
  .Timebidigital {
    width: 1300px;
    height: 26px;
    left: 21px;
    top: 2180px;
    position: absolute;
    text-align: center;
    color: #A09E9B;
    font-size: 16px;
    font-family: Tinos;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .Maps1 {
    width: 20px;
    height: 20px;
    left: 782px;
    top: 2130px;
    position: absolute;
  }
  
  .Gmail1 {
    width: 20px;
    height: 20px;
    left: 150px;
    top: 2130px;
    position: absolute;
  }
  
  .Cel1 {
    width: 20px;
    height: 20px;
    left: 520px;
    top: 2130px;
    position: absolute;
  }
  
  .CentroSupRateFundaciNAlbertoMotta {
    width: 400px;
    height: 23px;
    left: 810px;
    top: 2128px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Tinos;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .TimebiCompanyCom {
    width: 300px;
    height: 26px;
    left: 150px;
    top: 2130px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Tinos;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .Númerodelcel {
    width: 200px;
    height: 23px;
    left: 525px;
    top: 2128px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Tinos;
    font-weight: 400;
    word-wrap: break-word;
  }
