.Contact {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
}

.Fondo {
    width: 1360px;
    height: 1203px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.Rectangulodefooter {
    width: 1360px;
    height: 154px;
    left: 0px;
    top: 1049px;
    position: absolute;
    background: #1B1B1B;
}

.Rectangle1 {
    width: 634px;
    height: 693px;
    left: 655px;
    top: 197px;
    position: absolute;
    background: linear-gradient(180deg, rgba(155, 196, 248, 0) 0%, rgba(145.12, 236.94, 231.43, 0.28) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 64px;
}

.Mapa {
    width: 552px;
    height: 401px;
    left: 696px;
    top: 464px;
    position: absolute;
    border-radius: 700px;
}

.Gmail1 {
    width: 57px;
    height: 42px;
    left: 731px;
    top: 391px;
    position: absolute;
}

.Cel1 {
    width: 44px;
    height: 44px;
    left: 738px;
    top: 318px;
    position: absolute;
}

.Timebi {
    width: 183px;
    height: 52px;
    left: 696px;
    top: 229px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 54px;
    font-family: Tinos;
    font-weight: 400;
    word-wrap: break-word;
}

.Numerodecel {
    width: 287px;
    height: 52px;
    left: 809px;
    top: 318px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 41px;
    font-family: Tinos;
    font-weight: 400;
    word-wrap: break-word;
}

.Gmailarribademap {
    width: 480px;
    height: 52px;
    left: 788px;
    top: 388px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 41px;
    font-family: Tinos;
    font-weight: 400;
    word-wrap: break-word;
}

.SayHiToUs {
    width: 287px;
    height: 52px;
    left: 33px;
    top: 355px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 54px;
    font-family: Tinos;
    font-weight: 400;
    word-wrap: break-word;
}

.Contact0505 {
    left: 46px;
    top: 318px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 32px;
    font-family: Tinos;
    font-weight: 400;
    word-wrap: break-word;
}


.Yourname input[type="name"] {
    width: 276px;
    height: 63px;
    left: 33px;
    top: 440px;
    color: black;
    border: 0px;
    border-radius: 5px;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
}

.Youremail input[type="email"] {
    width: 266px;
    height: 63px;
    left: 347px;
    top: 440px;
    color: black;
    border: 0px;
    border-radius: 5px;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
}

.CommentBox {
    width: 583px;
    height: 238px;
    left: 35px;
    top: 529px;
    border-radius: 5px;
    position: absolute;
    background: #ffffff;
    font-family: 'Times New Roman', Times, serif; 
    color: black; 
}

.Semicirculodelsubmit {
    width: 623px;
    height: 70px;
    left: 13px;
    top: 795px;
    position: absolute;
    background: #D5535D;
    border-radius: 41px;
}

.Submit {
    left: 278px;
    top: 811px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: Tinos;
    font-weight: 400;
    word-wrap: break-word;
}

.Pinterestlogo1 {
    width: 50px;
    height: 50px;
    left: 530px;
    top: 1076px;
    position: absolute;
}

.Facebooklogo1 {
    width: 50px;
    height: 50px;
    left: 600px;
    top: 1076px;
    position: absolute;
}

.Twitterlogo1 {
    width: 50px;
    height: 50px;
    left: 680px;
    top: 1076px;
    position: absolute;
}

.Youtubelogo1 {
    width: 50px;
    height: 50px;
    left: 745px;
    top: 1076px;
    position: absolute;
}

.Timebidigital {
    width: 965px;
    height: 26px;
    left: 210px;
    top: 1156px;
    position: absolute;
    text-align: center;
    color: #A09E9B;
    font-size: 18px;
    font-family: Tinos;
    font-weight: 400;
    word-wrap: break-word;
}

