
.cardsM{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 50px;
}
.cardsM div img{
    height: 250px;

}
header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
